# OS
.DS_Store
Thumbs.db

# IDE / Editors
.idea/
.vscode/
*.code-workspace

# Dependencies / Builds
node_modules/
vendor/
dist/
build/
coverage/

# Logs / Caches / Temps
*.log
*.cache
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.phpunit.result.cache
.php_cs.cache

# Env
.env
.env.*


